div id="wrapper-outer" >
    <div id="wrapper">
        <div id="wrapper-inner">
            
            <!-- HEADER -->
            <div id="header-wrapper">
                <div id="header">
                    <div id="header-inner">
                        <div class="container">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <div class="row">
                                        <div class="logo-wrapper span4">
                                            <a href="#nav" class="hidden-desktop" id="btn-nav">Переключить навигацию</a>

                                            <div class="logo">
                                                <a href="index.html" title="Home">
                                                    <img src="assets/img/logo.png" alt="Home">
                                                </a>
                                            </div><!-- /.logo -->

                                            <div class="site-name">
                                                <a href="/" title="Home" class="brand">Rulty</a>
                                            </div><!-- /.site-name -->

                                            <div class="site-slogan">
                                                <span>Недвижимость и аренда</br>это легко</span>
                                            </div><!-- /.site-slogan -->
                                        </div><!-- /.logo-wrapper -->

                                        <div class="info">
                                            <div class="site-email">
                                                <a href="mailto:mail@rulty.com">mail@rulty.com</a>
                                            </div><!-- /.site-email -->

                                            <div class="site-phone">
                                                <span>333-666-777</span>
                                            </div><!-- /.site-phone -->
                                        </div><!-- /.info -->

                                        <a class="btn btn-primary btn-large list-your-property arrow-right" href="list-your-property.html">Добавь свою собственность</a>
                                    </div><!-- /.row -->
                                </div><!-- /.navbar-inner -->
                            </div><!-- /.navbar -->
                        </div><!-- /.container -->
                    </div><!-- /#header-inner -->
                </div><!-- /#header -->
            </div><!-- /#header-wrapper -->

            <!-- NAVIGATION -->
            <div id="navigation">
                <div class="container">
                    <div class="navigation-wrapper">
                        <div class="navigation clearfix-normal">

                            <ul class="nav">
                                <li>
                                    <a href="/">Домашняя страница</a>
                                </li>
                                <li class="menuparent">
                                    <span class="menuparent nolink">Составление списка</span>
                                    <ul>
                                        <li><a href="listing-grid-filter.html">Список сетка с фильтром</a></li>
                                        <li><a href="listing-rows-filter.html" >Список строка с фильтром</a></li>
                                    </ul>
                                </li>
                                <li class="menuparent">
                                    <span class="menuparent nolink">Страницы</span>
                                    <ul>
                                        <li><a href="about-us.html">О нас</a></li>
                                        <li><a href="our-agents.html">Наши агенты</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="shortcodes.html">Shortcodes</a></li>
                                        <li class="menuparent">
                                            <span class="menuparent nolink">Другой уровень</span>
                                            <ul>
                                                <li><a href="contact-us.html">Связаться с нами</a></li>
                                                <li><a href="grid-system.html">Система сеток</a></li>
                                                <li><a href="typography.html">Типография</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="404.html">404 page</a></li>
                                    </ul>
                                </li>
                                <li  >
                                    <a  href="pricing-multiple.html">Цены</a>    
                                </li>
                                <li><a href="contact-us.html">Связаться с нами</a></li>
                            </ul><!-- /.nav -->

                            
                            <form method="get" class="site-search" action="?">
                                <div class="input-append">
                                    <input title="Введите то, что хотите найти" class="search-query span2 form-text" placeholder="Поиск" type="text" name="">
                                    <button type="submit" class="btn"><i class="icon-search"></i></button>
                                </div><!-- /.input-append -->
                            </form><!-- /.site-search -->
                        </div><!-- /.navigation -->
                    </div><!-- /.navigation-wrapper -->
                </div><!-- /.container -->
            </div><!-- /.navigation -->

            <!-- CONTENT -->
            <div id="content"><div class="container">
    <div id="main">
        <div class="row">
            <div class="span9">
                <h1 class="page-header">Коммунистическая 87-41</h1>

                <div class="carousel property">
                    <div class="preview">
                        <img src="assets/img/tmp/property-large-1.jpg" alt="">
                    </div><!-- /.preview -->

                    <div class="content">

                        <a class="carousel-prev" href="#">Предыдущее</a>
                        <a class="carousel-next" href="#">Следующ</a>
                        <ul>
                            <li class="active">
                                <img src="assets/img/tmp/property-large-1.jpg" alt="">
                            </li>
                            <li>
                                <img src="assets/img/tmp/property-large-2.jpg" alt="">
                            </li>
                            <li>
                                <img src="assets/img/tmp/property-large-3.jpg" alt="">
                            </li>
                            <li>
                                <img src="assets/img/tmp/property-large-4.jpg" alt="">
                            </li>
                            <li>
                                <img src="assets/img/tmp/property-large-1.jpg" alt="">
                            </li>
                            <li>
                                <img src="assets/img/tmp/property-large-2.jpg" alt="">
                            </li>
                            <li>
                                <img src="assets/img/tmp/property-large-3.jpg" alt="">
                            </li>
                            <li>
                                <img src="assets/img/tmp/property-large-4.jpg" alt="">
                            </li>
                            <li>
                                <img src="assets/img/tmp/property-large-1.jpg" alt="">
                            </li>
                            <li>
                                <img src="assets/img/tmp/property-large-2.jpg" alt="">
                            </li>
                            <li>
                                <img src="assets/img/tmp/property-large-3.jpg" alt="">
                            </li>
                            <li>
                                <img src="assets/img/tmp/property-large-4.jpg" alt="">
                            </li>
                            <li>
                                <img src="assets/img/tmp/property-large-1.jpg" alt="">
                            </li>
                            <li>
                                <img src="assets/img/tmp/property-large-2.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.carousel -->

                <div class="property-detail">
                    <div class="pull-left overview">
                        <div class="row">
                            <div class="span3">
                                <h2>Обзор</h2>

                                <table>
                                    <tr>
                                        <th>Цена:</th>
                                        <td>2 300 000 р</td>
                                    </tr>
                                    <tr>
                                        <th>Тип договора:</th>
                                        <td>Аренда</td>
                                    </tr>
                                    <tr>
                                        <th>Тип:</th>
                                        <td>Квартира</td>
                                    </tr>
                                    <tr>
                                        <th>Место:</th>
                                        <td>Центр</td>
                                    </tr>
                                    <tr>
                                        <th>Ванные комнаты:</th>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <th>Спальни:</th>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <th>Площадь:</th>
                                        <td>750m<sup>2</sup></td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.span2 -->
                        </div>
                        <!-- /.row -->
                    </div>

                    <p><strong> Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе</strong> Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе Хороший дом в хорошем районе </p>

                    <h2>Основные удобства</h2>

                    <div class="row">
                        <ul class="span2">
                            <li class="checked">
                                Кондиционер
                            </li>
                            <li class="checked">
                                Балкон
                            </li>
                            <li class="checked">
                                Кровать
                            </li>
                            <li class="checked">
                                Кабельное телевидение
                            </li>
                            <li class="plain">
                                Уборка после выселения
                            </li>
                            <li class="plain">
                                Кофеварка
                            </li>
                            <li class="plain">
                                Компьютер
                            </li>
                            <li class="checked">
                                Детская кроватка
                            </li>
                        </ul>
                        <ul class="span2">
                            <li class="checked">
                                Посудомоечная машина
                            </li>
                            <li class="checked">
                                DVD
                            </li>
                            <li class="checked">
                                Вентилятор
                            </li>
                            <li class="checked">
                                Холодильник
                            </li>
                            <li class="checked">
                                Газовая плита
                            </li>
                            <li class="checked">
                                Фен
                            </li>
                            <li class="plain">
                                Отопление
                            </li>
                            <li class="checked">
                                Звуковая установка
                            </li>
                        </ul>
                        <ul class="span2">
                            <li class="plain">
                                Интернет
                            </li>
                            <li class="checked">
                                Утюг
                            </li>
                            <li class="checked">
                                Соковыжималка
                            </li>
                            <li class="checked">
                                Лифт
                            </li>
                            <li class="plain">
                                Микроволновка
                            </li>
                            <li class="plain">
                                Печь
                            </li>
                            <li class="checked">
                                Парковка
                            </li>
                            <li class="plain">
                                Паркет
                            </li>
                        </ul>
                        <ul class="span2">
                            <li class="plain">
                                Радио
                            </li>
                            <li class="checked">
                                Терасса на крыше
                            </li>
                            <li class="plain">
                                Курение разрешено
                            </li>
                            <li class="checked">
                                Терасса
                            </li>
                            <li class="plain">
                                Тостер
                            </li>
                            <li class="plain">
                                Towelwes
                            </li>
                            <li class="plain">
                                Бассейн
                            </li>
                            <li class="plain">
                                Видео
                            </li>
                        </ul>
                    </div>

                    
                </div>

            </div>
            <div class="sidebar span3">
                <div class="widget our-agents">
    <div class="title">
        <h2>Наши агенты</h2>
    </div><!-- /.title -->

    <div class="content">
        <div class="agent">
            <div class="image">
                <img src="assets/img/photos/emma-small.png" alt="">
            </div><!-- /.image -->
            <div class="name">Лена Зверева</div><!-- /.name -->
            <div class="phone">333-666-777</div><!-- /.phone -->
            <div class="email"><a href="mailto:victoria@example.com">lena@example.com</a></div><!-- /.email -->
        </div><!-- /.agent -->

        <div class="agent">
            <div class="image">
                <img src="assets/img/photos/john-small.png" alt="">
            </div><!-- /.image -->
            <div class="name">Алексей Романов</div><!-- /.name -->
            <div class="phone">111-222-333</div><!-- /.phone -->
            <div class="email"><a href="mailto:john.doe@example.com">alex@example.com</a></div><!-- /.email -->
        </div><!-- /.agent -->
    </div><!-- /.content -->
</div><!-- /.our-agents -->
                <div class="widget contact">
    <div class="title">
        <h2 class="block-title">Связаться с агентом</h2>
    </div><!-- /.title -->

    <div class="content">
        <form method="post">
            <div class="control-group">
                <label class="control-label" for="inputName">
                    Имя
                    <span class="form-required" title="This field is required.">*</span>
                </label>
                <div class="controls">
                    <input type="text" id="inputName">
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

            <div class="control-group">
                <label class="control-label" for="inputEmail">
                    Электронная почта
                    <span class="form-required" title="This field is required.">*</span>
                </label>
                <div class="controls">
                    <input type="text" id="inputEmail">
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

            <div class="control-group">
                <label class="control-label" for="inputMessage">
                    Сообщение
                    <span class="form-required" title="This field is required.">*</span>
                </label>

                <div class="controls">
                    <textarea id="inputMessage"></textarea>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

            <div class="form-actions">
                <input type="submit" class="btn btn-primary arrow-right" value="Send">
            </div><!-- /.form-actions -->
        </form>
    </div><!-- /.content -->
</div><!-- /.widget -->
                <div class="widget properties last">
    <div class="title">
        <h2>Последние предложения</h2>
    </div><!-- /.title -->

    <div class="content">
        <div class="property">
            <div class="image">
                <a href="detail.html"></a>
                <img src="assets/img/tmp/property-small-4.png" alt="">
            </div><!-- /.image -->

            <div class="wrapper">
                <div class="title">
                    <h3>
                        <a href="detail.html">ул. Коммунистическая</a>
                    </h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location -->
                <div class="price">2 300 000 р</div><!-- /.price -->
            </div><!-- /.wrapper -->
        </div><!-- /.property -->

        <div class="property">
            <div class="image">
                <a href="detail.html"></a>
                <img src="assets/img/tmp/property-small-5.png" alt="">
            </div><!-- /.image -->

            <div class="wrapper">
                <div class="title">
                    <h3>
                        <a href="detail.html">ул. Коммунистическая</a>
                    </h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location -->
                <div class="price">2 300 000 р</div><!-- /.price -->
            </div><!-- /.wrapper -->
        </div><!-- /.property -->

        <div class="property">
            <div class="image">
                <a href="detail.html"></a>
                <img src="assets/img/tmp/property-small-6.png" alt="">
            </div><!-- /.image -->

            <div class="wrapper">
                <div class="title">
                    <h3>
                        <a href="detail.html">ул. Коммунистическая</a>
                    </h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location -->
                <div class="price">2 300 000 р</div><!-- /.price -->
            </div><!-- /.wrapper -->
        </div><!-- /.property -->

        <div class="property">
            <div class="image">
                <a href="detail.html"></a>
                <img src="assets/img/tmp/property-small-2.png" alt="">
            </div><!-- /.image -->

            <div class="wrapper">
                <div class="title">
                    <h3>
                        <a href="detail.html">ул. Коммунистическая</a>
                    </h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location -->
                <div class="price">2 300 000 р</div><!-- /.price -->
            </div><!-- /.wrapper -->
        </div><!-- /.property -->
    </div><!-- /.content -->
</div><!-- /.properties -->
            </div>
        </div>
    </div>
</div>
    </div><!-- /#content -->
</div><!-- /#wrapper-inner -->