

            <!-- CONTENT -->
            <div id="content">
<div class="container">
    <div>
        <div id="main">
            <div class="about-us">
    <h2 class="page-header">О нас</h2>

    <div class="row">
        <div class="content">
            <div class="member span4">
                <img src="img/photos/john-doe-original.png" alt="John Doe">
                <h2>Евгений Сысманов</h2>
                <p>Разработчик</p>
            </div><!-- /.member -->

            <div class="member span4">
                <img src="img/photos/emma-hearth-original.png" alt="Emma Hearth">
                <h2>Евгений Ананьев</h2>
                <p>Разработчик</p>
            </div><!-- /.member -->

            <div class="member span4">
                <img src="img/photos/angie-blair-original.png" alt="Angie Blair">
                <h2>Салькаев Азат</h2>
                <p>Разработчик</p>
            </div><!-- /.member -->
        </div><!-- /.content -->
    </div><!-- /.row -->
</div><!-- /.about-us -->
            <hr>

            <div class="row">
                <div class="span6">
                    <h2>Наша задача</h2>
                    <p>Помоч людям в их нелёгкой жизни.Нести добро в массы и квартиры.</p>
                    <p><a href="/contact-us" class="btn btn-primary">Связаться с нами</a>
                    </p></div>
            </div>
            <div class="partners">
    <h2 class="page-header">Партнёры</h2>
    <div class="content">
        <div class="partner">
            <a href="http://logopond.com/gallery/detail/192115">
                <img src="img/photos/logo-sokolov.png" alt="Logo">
            </a>
        </div><!-- /.partner -->

        <div class="partner">
            <a href="http://logopond.com/gallery/detail/191954">
                <img src="img/photos/logo-love-letters.png" alt="Logo">
            </a>
        </div><!-- /.partner -->

        <div class="partner">
            <a href="http://logopond.com/gallery/detail/192592">
                <img src="img/photos/logo-royal-markt.png" alt="Logo">
            </a>
        </div><!-- /.partner -->

        <div class="partner">
            <a href="http://logopond.com/gallery/detail/192905">
                <img src="img/photos/logo-shuba.png" alt="Logo">
            </a>
        </div><!-- /.partner -->

        <div class="partner">
            <a href="http://logopond.com/gallery/detail/192394">
                <img src="img/photos/logo-sunsynk.png" alt="Logo">
            </a>
        </div><!-- /.partner -->
    </div><!-- /.content -->
</div><!-- /.partners-->        </div>
    </div>
</div>

    </div><!-- /#content -->
</div><!-- /#wrapper-inner -->

</html>