    <!-- CONTENT -->
    <div id="content"><div class="map-wrapper">
    <div class="map">
        <div id="map" class="map-inner"></div><!-- /.map-inner -->

        <div class="container">
            <div class="row">
                <div class="span3">
                    <div class="property-filter pull-right">
                        <div class="content">
                            <form method="get" action="?">
                                <div class="location control-group">
                                    <label class="control-label" for="inputLocation">
                                        Место
                                    </label>
                                    <div class="controls">
                                        <select id="inputLocation">
                                            <option id="malibu">Центр</option>
                                            <option id="malibu">Химмаш</option>
                                            <option id="malibu">Югозапад</option>
                                            <option id="malibu">Светотехстрой</option>
                                        </select>
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->

                                <div class="type control-group">
                                    <label class="control-label" for="inputType">
                                        Тип
                                    </label>
                                    <div class="controls">
                                        <select id="inputType">
                                            <option id="apartment">Квартира</option>
                                            <option id="condo">Частный дом</option>
                                        </select>
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->

                                <div class="beds control-group">
                                    <label class="control-label" for="inputBeds">
                                        Комнат
                                    </label>
                                    <div class="controls">
                                        <select id="inputBeds">
                                            <option id="11">1</option>
                                            <option id="21">2</option>
                                        </select>
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->

                                <div class="baths control-group">
                                    <label class="control-label" for="inputBaths">
                                        Ванных комнат
                                    </label>
                                    <div class="controls">
                                        <select id="inputBaths">
                                            <option id="1">1</option>
                                            <option id="2">2</option>
                                        </select>
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->


                                <div class="rent control-group">
                                    <div class="controls">
                                        <label class="checkbox" for="inputRent">
                                            <input type="checkbox" id="inputRent"> Аренда
                                        </label>
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->

                                <div class="sale control-group">
                                    <div class="controls">
                                        <label class="checkbox" for="inputSale">
                                            <input type="checkbox" id="inputSale"> Продажа
                                        </label>
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->

                                <div class="price-from control-group">
                                    <label class="control-label" for="inputPriceFrom">
                                        От
                                    </label>
                                    <div class="controls">
                                        <input type="text" id="inputPriceFrom" name="inputPriceFrom">
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->

                                <div class="price-to control-group">
                                    <label class="control-label" for="inputPriceTo">
                                        До
                                    </label>
                                    <div class="controls">
                                        <input type="text" id="inputPriceTo" name="inputPriceTo">
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->

                                <div class="price-value">
                                    <span class="from"></span><!-- /.from -->
                                    -
                                    <span class="to"></span><!-- /.to -->
                                </div><!-- /.price-value -->

                                <div class="price-slider">
                                </div><!-- /.price-slider -->

                                <div class="form-actions">
                                    <input type="submit" value="Начать поиск!" class="btn btn-primary btn-large">
                                </div><!-- /.form-actions -->
                            </form>
                        </div><!-- /.content -->
                    </div><!-- /.property-filter -->
                </div><!-- /.span3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.map -->
</div><!-- /.map-wrapper -->
<div class="container">
    <div id="main">
        <div class="row">
            <div class="span9">
                <h1 class="page-header">Избранные предложения</h1>
                <div class="properties-grid">
    <div class="row">
        <div class="property span3">
            <div class="image">
                <div class="content">
                    <a href="detail.html"></a>
                    <img src="img/tmp/property-small-1.png" alt="">
                </div><!-- /.content -->

                <div class="price">1 250 000 р</div><!-- /.price -->
                <div class="reduced">Со скидкой</div><!-- /.reduced -->
            </div><!-- /.image -->

            <div class="title">
                <h2><a href="detail.html">ул. Коммунистическая</a></h2>
            </div><!-- /.title -->

            <div class="location">г. Саранск</div><!-- /.location -->
            <div class="area">
                <span class="key">Площадь:</span><!-- /.key -->
                <span class="value">120</span><!-- /.value -->
            </div><!-- /.area -->
            <div class="bedrooms"><div class="content">4</div></div><!-- /.bedrooms -->
            <div class="bathrooms"><div class="content">3</div></div><!-- /.bathrooms -->
        </div><!-- /.property -->

        <div class="property span3">
            <div class="image">
                <div class="content">
                    <a href="detail.html"></a>
                    <img src="img/tmp/property-small-2.png" alt="">
                </div><!-- /.content -->
                <div class="price">1 250 000 р</div><!-- /.price -->
                <div class="reduced">Со скидкой </div><!-- /.reduced -->
            </div><!-- /.image -->

            <div class="title">
                <h2><a href="detail.html">ул. Коммунистическая</a></h2>
            </div><!-- /.title -->

            <div class="location">г. Саранск</div><!-- /.location -->
            <div class="area">
                <span class="key">Площадь:</span><!-- /.key -->
                <span class="value">120</span><!-- /.value -->
            </div><!-- /.area -->
            <div class="bedrooms"><div class="content">4</div></div><!-- /.bedrooms -->
            <div class="bathrooms"><div class="content">3</div></div><!-- /.bathrooms -->
        </div><!-- /.property -->

        <div class="property span3">
            <div class="image">
                <div class="content">
                    <a href="detail.html"></a>
                    <img src="img/tmp/property-small-3.png" alt="">
                </div><!-- /.content -->

                <div class="price">1 250 000 р</div><!-- /.price -->
                <div class="reduced">Со скидкой </div><!-- /.reduced -->
            </div><!-- /.image -->

            <div class="title">
                <h2><a href="detail.html">ул. Коммунистическая</a></h2>
            </div><!-- /.title -->

            <div class="location">г. Саранск</div><!-- /.location -->
            <div class="area">
                <span class="key">Площадь:</span><!-- /.key -->
                <span class="value">120</span><!-- /.value -->
            </div><!-- /.area -->
            <div class="bedrooms"><div class="content">4</div></div><!-- /.bedrooms -->
            <div class="bathrooms"><div class="content">3</div></div><!-- /.bathrooms -->
        </div><!-- /.property -->

        <div class="property span3">
            <div class="image">
                <div class="content">
                    <a href="detail.html"></a>
                    <img src="img/tmp/property-small-4.png" alt="">
                </div><!-- /.content -->
                <div class="price">1 250 000 р</div><!-- /.price -->
                <div class="reduced">Со скидкой </div><!-- /.reduced -->
            </div><!-- /.image -->

            <div class="title">
                <h2><a href="detail.html">ул. Коммунистическая</a></h2>
            </div><!-- /.title -->

            <div class="location">г. Саранск</div><!-- /.location -->
            <div class="area">
                <span class="key">Площадь:</span><!-- /.key -->
                <span class="value">120</span><!-- /.value -->
            </div><!-- /.area -->
            <div class="bedrooms"><div class="content">4</div></div><!-- /.bedrooms -->
            <div class="bathrooms"><div class="content">3</div></div><!-- /.bathrooms -->
        </div><!-- /.property -->

        <div class="property span3">
            <div class="image">
                <div class="content">
                    <a href="detail.html"></a>
                    <img src="img/tmp/property-small-5.png" alt="">
                </div><!-- /.content -->

                <div class="price">1 250 000 р</div><!-- /.price -->
                <div class="reduced">Со скидкой </div><!-- /.reduced -->
            </div><!-- /.image -->

            <div class="title">
                <h2><a href="detail.html">ул. Коммунистическая</a></h2>
            </div><!-- /.title -->

            <div class="location">г. Саранск</div><!-- /.location -->
            <div class="area">
                <span class="key">Площадь:</span><!-- /.key -->
                <span class="value">120</span><!-- /.value -->
            </div><!-- /.area -->
            <div class="bedrooms"><div class="content">4</div></div><!-- /.bedrooms -->
            <div class="bathrooms"><div class="content">3</div></div><!-- /.bathrooms -->
        </div><!-- /.property -->

        <div class="property span3">
            <div class="image">
                <div class="content">
                    <a href="detail.html"></a>
                    <img src="img/tmp/property-small-6.png" alt="">
                </div><!-- /.content -->

                <div class="price">1 250 000 р</div><!-- /.price -->
                <div class="reduced">Со скидкой </div><!-- /.reduced -->
            </div><!-- /.image -->

            <div class="title">
                <h2><a href="detail.html">ул. Коммунистическая</a></h2>
            </div><!-- /.title -->

            <div class="location">г. Саранск</div><!-- /.location -->
            <div class="area">
                <span class="key">Площадь:</span><!-- /.key -->
                <span class="value">120</span><!-- /.value -->
            </div><!-- /.area -->
            <div class="bedrooms"><div class="content">4</div></div><!-- /.bedrooms -->
            <div class="bathrooms"><div class="content">3</div></div><!-- /.bathrooms -->
        </div><!-- /.property -->
    </div><!-- /.row -->
</div><!-- /.properties-grid -->
            </div>
            <div class="sidebar span3">
                <div class="widget our-agents">
    <div class="title">
        <h2>Наши агенты</h2>
    </div><!-- /.title -->

    <div class="content">
        <div class="agent">
            <div class="image">
                <img src="img/photos/emma-small.png" alt="">
            </div><!-- /.image -->
            <div class="name">Лена Зверева</div><!-- /.name -->
            <div class="phone">333-666-777</div><!-- /.phone -->
            <div class="email"><a href="mailto:victoria@example.com">lena@example.com</a></div><!-- /.email -->
        </div><!-- /.agent -->

        <div class="agent">
            <div class="image">
                <img src="img/photos/john-small.png" alt="">
            </div><!-- /.image -->
            <div class="name">Алексей Романов</div><!-- /.name -->
            <div class="phone">111-222-333</div><!-- /.phone -->
            <div class="email"><a href="mailto:john.doe@example.com">alex@example.com</a></div><!-- /.email -->
        </div><!-- /.agent -->
    </div><!-- /.content -->
</div><!-- /.our-agents -->
                <div class="hidden-tablet">
                    <div class="widget properties last">
    <div class="title">
        <h2>Последние предложения</h2>
    </div><!-- /.title -->

    <div class="content">
        <div class="property">
            <div class="image">
                <a href="detail.html"></a>
                <img src="img/tmp/property-small-4.png" alt="">
            </div><!-- /.image -->

            <div class="wrapper">
                <div class="title">
                    <h3>
                        <a href="detail.html">ул. Коммунистическая</a>
                    </h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location -->
                <div class="price">2 300 000 р</div><!-- /.price -->
            </div><!-- /.wrapper -->
        </div><!-- /.property -->

        <div class="property">
            <div class="image">
                <a href="detail.html"></a>
                <img src="img/tmp/property-small-5.png" alt="">
            </div><!-- /.image -->

            <div class="wrapper">
                <div class="title">
                    <h3>
                        <a href="detail.html">ул. Коммунистическая</a>
                    </h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location -->
                <div class="price">2 300 000 р</div><!-- /.price -->
            </div><!-- /.wrapper -->
        </div><!-- /.property -->

        <div class="property">
            <div class="image">
                <a href="detail.html"></a>
                <img src="img/tmp/property-small-6.png" alt="">
            </div><!-- /.image -->

            <div class="wrapper">
                <div class="title">
                    <h3>
                        <a href="detail.html">ул. Коммунистическая</a>
                    </h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location -->
                <div class="price">2 300 000 р</div><!-- /.price -->
            </div><!-- /.wrapper -->
        </div><!-- /.property -->

        <div class="property">
            <div class="image">
                <a href="detail.html"></a>
                <img src="img/tmp/property-small-2.png" alt="">
            </div><!-- /.image -->

            <div class="wrapper">
                <div class="title">
                    <h3>
                        <a href="detail.html">ул. Коммунистическая</a>
                    </h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location -->
                <div class="price">2 300 000 р</div><!-- /.price -->
            </div><!-- /.wrapper -->
        </div><!-- /.property -->
    </div><!-- /.content -->
</div><!-- /.properties -->
                </div>
            </div>
        </div>
        <div class="carousel">
    <h2 class="page-header">Все предожения</h2>

    <div class="content">
        <a class="carousel-prev" href="detail.html">Предыдущий</a>
        <a class="carousel-next" href="detail.html">Следующий</a>
        <ul>
            <li>
                <div class="image">
                    <a href="detail.html"></a>
                    <img src="img/tmp/property-small-1.png" alt="">
                </div><!-- /.image -->
                <div class="title">
                    <h3><a href="detail.html">ул. Коммунистическая</a></h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location-->
                <div class="price">2 300 000 р</div><!-- .price -->
                <div class="area">
                    <span class="key">Площадь:</span>
                    <span class="value">750m<sup>2</sup></span>
                </div><!-- /.area -->
                <div class="bathrooms"><div class="inner">3</div></div><!-- /.bathrooms -->
                <div class="bedrooms"><div class="inner">3</div></div><!-- /.bedrooms -->
            </li>
            <li>
                <div class="image">
                    <a href="detail.html"></a>
                    <img src="img/tmp/property-small-2.png" alt="">
                </div><!-- /.image -->
                <div class="title">
                    <h3><a href="detail.html">ул. Коммунистическая</a></h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location-->
                <div class="price">2 300 000 р</div><!-- .price -->
                <div class="area">
                    <span class="key">Площадь:</span>
                    <span class="value">750m<sup>2</sup></span>
                </div><!-- /.area -->
                <div class="bathrooms"><div class="inner">3</div></div><!-- /.bathrooms -->
                <div class="bedrooms"><div class="inner">3</div></div><!-- /.bedrooms -->
            </li>

            <li>
                <div class="image">
                    <a href="detail.html"></a>
                    <img src="img/tmp/property-small-3.png" alt="">
                </div><!-- /.image -->
                <div class="title">
                    <h3><a href="detail.html">ул. Коммунистическая</a></h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location-->
                <div class="price">2 300 000 р</div><!-- .price -->
                <div class="area">
                    <span class="key">Площадь:</span>
                    <span class="value">750m<sup>2</sup></span>
                </div><!-- /.area -->
                <div class="bathrooms"><div class="inner">3</div></div><!-- /.bathrooms -->
                <div class="bedrooms"><div class="inner">3</div></div><!-- /.bedrooms -->
            </li>

            <li>
                <div class="image">
                    <a href="detail.html"></a>
                    <img src="img/tmp/property-small-4.png" alt="">
                </div><!-- /.image -->
                <div class="title">
                    <h3><a href="detail.html">ул. Коммунистическая</a></h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location-->
                <div class="price">2 300 000 р</div><!-- .price -->
                <div class="area">
                    <span class="key">Площадь:</span>
                    <span class="value">750m<sup>2</sup></span>
                </div><!-- /.area -->
                <div class="bathrooms"><div class="inner">3</div></div><!-- /.bathrooms -->
                <div class="bedrooms"><div class="inner">3</div></div><!-- /.bedrooms -->
            </li>

            <li>
                <div class="image">
                    <a href="detail.html"></a>
                    <img src="img/tmp/property-small-5.png" alt="">
                </div><!-- /.image -->
                <div class="title">
                    <h3><a href="detail.html">ул. Коммунистическая</a></h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location-->
                <div class="price">2 300 000 р</div><!-- .price -->
                <div class="area">
                    <span class="key">Площадь:</span>
                    <span class="value">750m<sup>2</sup></span>
                </div><!-- /.area -->
                <div class="bathrooms"><div class="inner">3</div></div><!-- /.bathrooms -->
                <div class="bedrooms"><div class="inner">3</div></div><!-- /.bedrooms -->
            </li>

            <li>
                <div class="image">
                    <a href="detail.html"></a>
                    <img src="img/tmp/property-small-6.png" alt="">
                </div><!-- /.image -->
                <div class="title">
                    <h3><a href="detail.html">ул. Коммунистическая</a></h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location-->
                <div class="price">2 300 000 р</div><!-- .price -->
                <div class="area">
                    <span class="key">Площадь:</span>
                    <span class="value">750m<sup>2</sup></span>
                </div><!-- /.area -->
                <div class="bathrooms"><div class="inner">3</div></div><!-- /.bathrooms -->
                <div class="bedrooms"><div class="inner">3</div></div><!-- /.bedrooms -->
            </li>

            <li>
                <div class="image">
                    <a href="detail.html"></a>
                    <img src="img/tmp/property-small-1.png" alt="">
                </div><!-- /.image -->
                <div class="title">
                    <h3><a href="detail.html">ул. Коммунистическая</a></h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location-->
                <div class="price">2 300 000 р</div><!-- .price -->
                <div class="area">
                    <span class="key">Площадь:</span>
                    <span class="value">750m<sup>2</sup></span>
                </div><!-- /.area -->
                <div class="bathrooms"><div class="inner">3</div></div><!-- /.bathrooms -->
                <div class="bedrooms"><div class="inner">3</div></div><!-- /.bedrooms -->
            </li>

            <li>
                <div class="image">
                    <a href="detail.html"></a>
                    <img src="img/tmp/property-small-2.png" alt="">
                </div><!-- /.image -->
                <div class="title">
                    <h3><a href="detail.html">ул. Коммунистическая</a></h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location-->
                <div class="price">2 300 000 р</div><!-- .price -->
                <div class="area">
                    <span class="key">Площадь:</span>
                    <span class="value">750m<sup>2</sup></span>
                </div><!-- /.area -->
                <div class="bathrooms"><div class="inner">3</div></div><!-- /.bathrooms -->
                <div class="bedrooms"><div class="inner">3</div></div><!-- /.bedrooms -->
            </li>

            <li>
                <div class="image">
                    <a href="detail.html"></a>
                    <img src="img/tmp/property-small-3.png" alt="">
                </div><!-- /.image -->
                <div class="title">
                    <h3><a href="detail.html">ул. Коммунистическая</a></h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location-->
                <div class="price">2 300 000 р</div><!-- .price -->
                <div class="area">
                    <span class="key">Площадь:</span>
                    <span class="value">750m<sup>2</sup></span>
                </div><!-- /.area -->
                <div class="bathrooms"><div class="inner">3</div></div><!-- /.bathrooms -->
                <div class="bedrooms"><div class="inner">3</div></div><!-- /.bedrooms -->
            </li>

            <li>
                <div class="image">
                    <a href="detail.html"></a>
                    <img src="img/tmp/property-small-4.png" alt="">
                </div><!-- /.image -->
                <div class="title">
                    <h3><a href="detail.html">ул. Коммунистическая</a></h3>
                </div><!-- /.title -->
                <div class="location">г. Саранск</div><!-- /.location-->
                <div class="price">2 300 000 р</div><!-- .price -->
                <div class="area">
                    <span class="key">Площадь:</span>
                    <span class="value">750m<sup>2</sup></span>
                </div><!-- /.area -->
                <div class="bathrooms"><div class="inner">3</div></div><!-- /.bathrooms -->
                <div class="bedrooms"><div class="inner">3</div></div><!-- /.bedrooms -->
            </li>
        </ul>
    </div><!-- /.content -->
</div><!-- /.carousel -->
</div>
</div>

<div class="bottom-wrapper">
    <div class="bottom container">
        <div class="bottom-inner row">
            <div class="item span4">
                <div class="address decoration"></div>
                <h2><a>Аренда или покупка?</a></h2>
                <p>Не уверены, арендовать или купить? Мы проведём все расчёты и поможем сделать правильный выбор.</p>
                <a href="#" class="btn btn-primary">Узнать больше</a>
            </div><!-- /.item -->

            <div class="item span4">
                <div class="gps decoration"></div>
                <h2><a>Не можете выбрать район?</a></h2>
                <p>Мы дадим сводку о районе: школы, дет.сады и более - вплоть до ближайшего продуктового магазина.</p>
                <a href="#" class="btn btn-primary">Узнать больше</a>
            </div><!-- /.item -->

            <div class="item span4">
                <div class="key decoration"></div>
                <h2><a>Безопасность</a></h2>
                <p>Мы гарантируем вам безопасность во время работы с нашим сервисом.</p>
                <a href="#" class="btn btn-primary">Узнать больше</a>
            </div><!-- /.item -->
        </div><!-- /.bottom-inner -->
    </div><!-- /.bottom -->
</div><!-- /.bottom-wrapper -->    </div><!-- /#content -->
</div><!-- /#wrapper-inner -->


    
